{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Privacy Policy" %}{% endblock %}

{% block body %}
	<h3>Privacy</h3>
	<p>There isn't a fixed Privacy Policy yet. Please feel free to <a href="mailto:matt@builtsoftware.com?subject=[virtlib]Privacy-Policy">make suggestions</a> or point to the kind of policy you like.</p>
	<p>The intent of this site is to bring people together to share what they have. We can't guarantee anything, but there is no intent to retain or distribute your personal information. 
		Your email and/or Twitter handle <em>does</em> get revealed to other users who are logged in to the system. That is so they have a way to request books from you. 
		If you can't deal with that, this site probably isn't for you. Also probably not for you: email and/or Twitter. <b>:)</b>
	</p>
{% endblock %}
