{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Getting Started Guide" %}{% endblock %}

{% block body %}
		<h3>Getting Started Guide</h3>
        <p>
			Follow these instructions FOR GREAT JUSTICE!

			<ul>
				<li><b>Set Up Your Account</b><br/>

			<ol>
				<li><a href="../../account/signup/">Sign up</a> if you haven't already.</li>
				<li>Fill out your <a href="../../profiles/{{user}}/">profile</a></li>
				<li><b>Important!</b> To use Twitter, enter your twitter web page url in the "Website" field with nothing trailing, like so: <blockquote>http://twitter.com/yourhandle</blockquote></li>
				<li>Add the books you are comfortable lending out. (That signed, first edition, leather-bound Proust may not be appropriate. That paperback book on Rails might be a better bet. And more practically useful. And less imaginary.)</li>
			</ol>
<br/>
		</li>
		<li><b>Get Your Read On!</b>
			<ol>
				<li><a href="../../library/">Find</a> a book you want to borrow.</li>
				<li>Contact the book's owner via the Twitter or email links on the book listing.</li>
				<li>If the owner is willing to lend to you (they don't have to) then arrange a mutually agreeable time to grab the book. PLEASE USE COMMON SENSE ABOUT MEETING PEOPLE FROM THE INTERWEBS.</li>
				<li>Be generous and loan to others!</li>
			</ol>
		</li>
		</ul>
		
        </p>
{% endblock %}
