{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Terms of Service" %}{% endblock %}

{% block body %}

<h3>{% trans "Terms of Service" %}</h3>

<ol>
<li>Using this service means you agree to these terms.</li>
<li>These terms can and will change from time to time. YOU are responsible for staying up to date on what these terms are.</li>
<li>We are not responsible for ANYTHING.</li>
<li>Use this service at your own risk!</li>
<li>You are responsible for your books and loaning/collecting your books. This site just helps you connect with people. We aren't an actual library.</li>
<li>Your books are your property! Treat them accordingly to avoid misunderstandings. Write your name in your books or use a labeler.</li>
<li>Be nice.</li>
</ol>


{% endblock %}
