{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    {% blocktrans %}

	<div>
		<h1>{{ site_name }}</h1>
		A growing collection of books you can borrow. And it's totally free!
	</div>
	<div class="panel col1">
		<h3>What is this?</h3>

	{{ site_name }} is a free and easy way to get access to technical books by borrowing them from geeks just like yourself.

	</div>


	<div class="panel col2">
	<h3>Why would I want to do that?</h3>

	Books are expensive! Thankfully there is a local library close to you, but have you noticed that they never have the latest technical books? It's not their fault; Tech topics change so fast that it's very expensive to maintain an inventory of relevant books. 

	Meanwhile, you have a pile of technical books lying around that you aren't reading anymore. And so do your fellow geeks, nerds, mathletes, gearheads, etc. Two words: <a href="http://en.wikipedia.org/wiki/Stone_soup">Stone Soup</a>!
	</div>


	<div class="panel col3">
	<h3>How does it work?</h3>

	Everyone lists the tech books they are willing to loan out. You still own your book! You just agree to lend it out when someone needs it. This site helps you find books and their owners. You handle the rest.
	</div>


	<div class="panel col4">
	<h3><a href="about/start/">Go Get Started!</a></h3>
	</div>




    {% endblocktrans %}
    
    {% if user.is_authenticated %}
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}Go <a href="{{ signup_url }}">sign up</a> or <a href="{{ login_url }}">log in</a> and get your read on.{% endblocktrans %}</p>
    {% endif %}
    
{% endblock %}
